<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/homework.css">
</head>
<body>
    <div class="assignment_title_div">
        <img src="../../img/book-btn.png" alt="book_btn" class="book_btn">
        <h3 class="assignment_title">과제 제출</h3>
    </div>

    <div class="assignment_box">
        <div class="assignment_txt_div">
            <div class="line">
                <p class="assignment_category">과제: JAVA</p>
                <p class="assignment_deadline_date">3월 27일 월요일</p>
            </div>
            <div class="line">
                <p class="assignment_goal">class 속성을 이용해서 은행계좌 만들기</p>
                <p class="assignment_deadline_time">19:00</p>
            </div>
        </div>

        <div class="assignment_sub_div">
            <p class="assignment_subtitle">과제 내용 확인하기</p>
            <div class="assignment_check_box" style="overflow: auto">
                <h5>[기능 구현 예시]</h5>
                <h6>은행계좌를 처음부터 만들려면 시작부터 막힐 수 있으니, 막힐 때마다 다음의 토글을 열어주세요</h6>
                <h5>[메뉴 선택 기능 만들기]</h5>
                <h6>메뉴에는 기본적으로 5가지 기능이 들어갑니다! 계좌개설, 입금하기, 출금하기, 전체조회</h6>
            </div>
        </div>

        <div class="assignment_sub_div">
            <p class="assignment_subtitle">과제 제출하기</p>
            <div id="fileContainer">
                <div class="file_box">
                    <p class="file_name"><&#47;> Java세션_은행계좌만들기_쩡이.java</p>
                </div>
                <div class="file_box">
                    <p class="file_name"><&#47;> Java세션_은행계좌만들기_퍼시.java</p>
                </div>
            </div>
        </div>

        <div class="file_add_div">
            <img src="../../img/file-clip.png" alt="file_clip" class="file_clip">
            <p class="file_add_title">파일 추가하기</p>
        </div>

    </div>

</body>
</html>