<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
    <div class="assignment_head_div">
        <div class="assignment_head_top">
            <div class="assignment_give">
                <p class="assignment_give_txt">과제부여하기</p>
            </div>
        </div>

        <div class="assignment_head_bottom">
            <img src="../../img/book-btn.png" alt="book_btn" class="book_btn">
            <p class="assignment_list_txt">과제 목록</p>
        </div>
    </div>

    <div class="assignment_body_div">
        <div class="assignment_box_one">
            <p class="box_one_left">[과제 : 깃]</p>
            <p class="box_one_mid">repository 생성과 push</p>
            <p class="box_one_right">3월27일 월요일 19시까지</p>
        </div>
        <div class="assignment_box_two">
            <p class="box_two_left">[과제 : HTML & CSS]</p>
            <p class="box_two_mid">12기 멋사 LMS 페이지 따라하기</p>
            <p class="box_two_right">4월3일 월요일 19시까지</p>
        </div>
        <div class="assignment_box_three">
            <p class="box_three_left">[과제 : JS]</p>
            <p class="box_three_mid">반응형 웹페이지 만들어보기</p>
            <p class="box_three_right">3월27일 월요일 19시까지</p>
        </div>
        <div class="assignment_box_four">
            <p class="box_four_left">[과제 : Java]</p>
            <p class="box_four_mid">클래스 속성을 이용해서 은행계좌 만들기</p>
            <p class="box_four_right">3월27일 월요일 19시까지</p>
        </div>
    </div>

</body>
</html>