<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/navbar.css">

</head>
<body>
    <nav class="navbar">
        <div class="homebtn_div">
            <button class="likelionlogo_btn">
                <a href="main.html"><img src="../../img/kau_likelion.png" alt="logo" class="kau_likelion_logo"></a>
                HOME
            </button>
        </div>

        <div class="navbar_title_txt">
            <a class="likelion_title">LIKELION</a>
            <p class="kau_title">KoreaAerospaceUniversity</p>
        </div>

        <div class="assignment_nav">
            <button class="homework_btn">
                <a href="#"><img src="../../img/backpack.png" alt="backpack" class="assignment_backpack"></a>
                <a href="#" class="homework_list">목록</a>
            </button>
        </div>
    </nav>

</body>
</html>